<a href="https://colab.research.google.com/github/manendranathshukla/Sensor-Classifier/blob/master/SensorClassifier.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd 
from sklearn.neural_network import MLPClassifier
from sklearn import preprocessing
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt

In [0]:
data=pd.read_csv("FaultDetection.csv")

In [3]:
df=pd.DataFrame(data)
df

    Sensor_Value  Tolerance_Value\n      Output
0            0.7               0.01          pH
1            2.0               0.01          pH
2           10.0               0.01          pH
3            7.0               0.01          pH
4            7.5               0.01          pH
..           ...                ...         ...
70          49.0               3.00  ultrasonic
71          39.0               3.00  ultrasonic
72          59.0               3.00  ultrasonic
73          69.0               3.00  ultrasonic
74          77.0               3.00  ultrasonic

[75 rows x 3 columns]

In [4]:
Y=df['Output']

Y

0             pH
1             pH
2             pH
3             pH
4             pH
         ...
70    ultrasonic
71    ultrasonic
72    ultrasonic
73    ultrasonic
74    ultrasonic
Name: Output, Length: 75, dtype: object

In [0]:
lb=preprocessing.LabelEncoder()

lb.fit(Y)
Y=lb.transform(Y)

In [6]:
Y

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2])

In [0]:
X=df.drop('Output',axis=1)

In [8]:
X

    Sensor_Value  Tolerance_Value\n
0            0.7               0.01
1            2.0               0.01
2           10.0               0.01
3            7.0               0.01
4            7.5               0.01
..           ...                ...
70          49.0               3.00
71          39.0               3.00
72          59.0               3.00
73          69.0               3.00
74          77.0               3.00

[75 rows x 2 columns]

In [0]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.25)

In [10]:
model=MLPClassifier()
model.fit(X,Y)

MLPClassifier(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
              beta_2=0.999, early_stopping=False, epsilon=1e-08,
              hidden_layer_sizes=(100,), learning_rate='constant',
              learning_rate_init=0.001, max_iter=200, momentum=0.9,
              n_iter_no_change=10, nesterovs_momentum=True, power_t=0.5,
              random_state=None, shuffle=True, solver='adam', tol=0.0001,
              validation_fraction=0.1, verbose=False, warm_start=False)

In [11]:
LR=LogisticRegression()
LR.fit(X,Y)

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [12]:
rdf=RandomForestClassifier()
rdf.fit(X_train,Y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [13]:
from sklearn.metrics import accuracy_score
print(accuracy_score(Y,model.predict(X)))
print(accuracy_score(Y,LR.predict(X)))
print(accuracy_score(Y_test,rdf.predict(X_test)))

0.41333333333333333
0.7866666666666666
1.0

In [14]:
X

    Sensor_Value  Tolerance_Value\n
0            0.7               0.01
1            2.0               0.01
2           10.0               0.01
3            7.0               0.01
4            7.5               0.01
..           ...                ...
70          49.0               3.00
71          39.0               3.00
72          59.0               3.00
73          69.0               3.00
74          77.0               3.00

[75 rows x 2 columns]

In [23]:
if((rdf.predict([[52,3]]))==2):
  print("ULtrasonic Sensor")
if((rdf.predict([[25,2]]))==0):
  print("DHT Sensor")
if((rdf.predict([[5,0.01]]))==1):
  print("PH Sensor")

ULtrasonic Sensor
DHT Sensor
PH Sensor